# Ignore arquivos de configuração de ambiente
.env

# Ignorar a pasta backup
backup/

# Ignorar a pasta database
database/

# Ignorar a pasta da credencial
connection

# Ignorar o arquivos .py
test_tensorflow.py
test.py
app2.py
app3.py
app4.py
app5.py
validation.py
despesas.py
contrato.py
despesas_ug2.py

# Ignorar a pasta venv (ambiente virtual Python)
venv/

# Ignorar arquivos de cache Python
__pycache__/
*.py[cod]