# Ignore arquivos de configuração de ambiente
.env

# Ignorar a pasta backup
backup/

# Ignorar a pasta da credencial
connection

# Ignorar o arquivos .py
test_tensorflow.py
test.py
app copy.py
app3.py
app4.py
app5.py
validation.py
despesas.py
contrato.py
despesas_ug2.py
servidores copy.py


# Ignorar a pasta venv (ambiente virtual Python)
venv/
#config.toml
secrets.toml

# Ignorar arquivos de cache Python
__pycache__/
*.py[cod]